<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>nomi.controller.register.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <display-name>Appointment Booking System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>nomi.controller.login.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginController</display-name>
    <servlet-name>StaffLoginController</servlet-name>
    <servlet-class>nomi.controller.login.StaffLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginController</servlet-name>
    <url-pattern>/StaffLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetRegisterController</display-name>
    <servlet-name>PetRegisterController</servlet-name>
    <servlet-class>nomi.controller.register.PetRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetRegisterController</servlet-name>
    <url-pattern>/PetRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetList</display-name>
    <servlet-name>PetList</servlet-name>
    <servlet-class>nomi.controller.pet.PetList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetList</servlet-name>
    <url-pattern>/PetList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCallAJAX</display-name>
    <servlet-name>TestCallAJAX</servlet-name>
    <servlet-class>nomi.controller.TestCallAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCallAJAX</servlet-name>
    <url-pattern>/TestCallAJAX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBvalidation</display-name>
    <servlet-name>GBvalidation</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBvalidation</servlet-name>
    <url-pattern>/GBvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBregistration</display-name>
    <servlet-name>GBregistration</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBregistration</servlet-name>
    <url-pattern>/GBregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>nomi.controller.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBassign</display-name>
    <servlet-name>GBassign</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBassign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBassign</servlet-name>
    <url-pattern>/GBassign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBupdate</display-name>
    <servlet-name>GBupdate</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBupdate</servlet-name>
    <url-pattern>/GBupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBcancel</display-name>
    <servlet-name>GBcancel</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBcancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBcancel</servlet-name>
    <url-pattern>/GBcancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBdelete</display-name>
    <servlet-name>GBdelete</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBdelete</servlet-name>
    <url-pattern>/GBdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GBrefreshTable</display-name>
    <servlet-name>GBrefreshTable</servlet-name>
    <servlet-class>nomi.controller.groomBooking.GBrefreshTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GBrefreshTable</servlet-name>
    <url-pattern>/GBrefreshTable</url-pattern>
  </servlet-mapping>
</web-app>